* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body {
	background-image: red;
	background-size: cover;
	background-position: fixed;
}


#container {
        width: 1020px;
        margin: auto;
        background-color: red;
}

header {
	background-color: red;
    height: 320px;
    text-align: center;

}

h1 {
    color: white;

}

h2 {
    color: yellow;

}

#nav {
    color: white;


}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: red;
    height: 100%;
    position: fixed;
    overflow: auto;

}

